<div class='form-item'>
  <label for='<%= meta.name %>'><%= meta.label %></label>
  <% if (meta.help) { %><small class='deemphasize'><%= meta.help %></small><% } %>
  <fieldset>
	<input type='file' data-cloud_name='<%= meta.cloud_name %>' id='<%= meta.name %>_input' onChange='doUpload("<%= meta.name %>", "<%= meta.api_key %>", "<%= meta.cloud_name %>", "<%= meta.upload_preset %>")' />
    <input class='metafield cloudinary' type='hidden' name='<%= meta.name %>' id='<%= meta.name %>' value='<%= meta.value %>' data-type='<%= meta.type %>' placeholder='<%= meta.placeholder %>' />
  	<div class="loader-upload"></div>
    <div id="<%= meta.name %>_preview" class="image-preview"></div>
  </fieldset>
</div>
